* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: rgb(36,85,192);
  background: -moz-linear-gradient(180deg, rgb(36,85,192) 0%, rgb(11,20,44) 100%);
  background: -webkit-linear-gradient(180deg, rgb(36,85,192) 0%, rgb(11,20,44) 100%);
  background: linear-gradient(180deg, rgb(36,85,192) 0%, rgb(11,20,44) 100%);
  font-family: Arial, Helvetica, sans-serif;
}


/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  Mobile View 
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjetaBombo .tarjeta {
  width: 18.75rem;
  height: 14.0625rem;
  background-color: #9e1c23;
}

.tarjetaBombo .tarjeta h3 {
  text-align: center;
  color: #eeeeee;
  width: 100%;
  height: 3.0625rem;
  line-height: 3.0625rem;
  font-size: 2rem;
  font-weight: 400;
}

.tarjetaBombo .tarjeta .tarjetaNumeros {
  width: 100%;
  height: 11rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.tarjetaBombo .tarjeta .tarjetaNumeros .numeros {
  background-color: #eeeeee;
  width: 3.2rem;
  height: 3.2rem;
  text-align: center;
  line-height: 3.25rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.tarjetaBombo .tarjeta .tarjetaNumeros .numeros.active {
  background-color: transparent;
  text-decoration: line-through;
  color: #54090d;
}

.tarjetaBombo .bombo {
  width: 9rem;
  height: 9rem;
  background: rgb(238,238,238);
  background: -moz-radial-gradient(circle, rgba(238,238,238,1) 0%, rgba(132,132,130,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(238,238,238,1) 0%, rgba(132,132,130,1) 100%);
  background: radial-gradient(circle, rgba(238,238,238,1) 0%, rgba(132,132,130,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeeeee",endColorstr="#848482",GradientType=1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto;
  border: 5px solid #000;
}

.tarjetaBombo .bombo .inicio {
  background-color: #eeeeee;
  border: 2px solid #848482;
  width: 6rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  font-size: 0.7rem;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}

.tarjetaBombo .bombo .numBombo {
  background-color: #eeeeee;
  border: 4px solid #848482;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 2.25rem;
  cursor: pointer;
}

.tarjetaBombo .bombo .winner {
  font-weight: bold;
  cursor: pointer;
}

.numSacado {
  display: none;
}


/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  iPad View
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
@media screen and (min-width: 768px) {
  .tarjetaBombo .bombo {
    width: 15.625rem;
    height: 15.625rem;
    margin: 4rem auto;
  }
  
  .tarjetaBombo .bombo .inicio {
    width: 13rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
  }

  .tarjetaBombo .bombo .numBombo {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 2.5rem;
  }

  .tarjetaBombo .bombo .winner {
    font-size: 1.75rem;
  }
}


/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  Desktop View
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
@media screen and (min-width: 1000px) {
  body {
    flex-direction: column;
    justify-content: space-around;
  }

  .tarjetaBombo {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
  }

  .tarjetaBombo .bombo {
    margin: 0;
  }

  .numSacado {
    border: 1px solid #eeeeee;
    display: block;
    width: 90%;
    height: 17.5rem;
    overflow-y: auto;
  }

  .numSacado .numSacado__num {
    display: inline-block;
    background-color: #eeeeee;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    margin: 1rem 0.28rem;
    font-size: 1.75rem;
    font-weight: bold;
  }
}